<ul class="list-group m-2">
  <li
    *ngFor="let location of allLocations"
    class="list-group-item d-flex justify-content-between align-items-center"
    (click)="selectLocation(location)"
    [class.isRowSelected]="selectedLocation?.id === location?.id"
  >
    {{ location.name }}
  </li>
</ul>
<div class="m-2 d-flex justify-content-between gap-1">
  <button mat-raised-button color="warn" class="float-left btn btn-failed"><mat-icon>remove</mat-icon></button>
  <button mat-raised-button class="float-right btn btn-success"><mat-icon>add</mat-icon></button>
</div>