* {
  margin: 0;
  padding: 0;
}

html,
body, .sidebar {
  height: 100%;
}

.main-container, .rooms-container{
  height: 100%;
  width: 100%;
}

.main-container{
  float: right;
}

.sidebar{
  float: left;
}